### 3.1.5 Practical Activity: 
# Create and merge the DataFrames

In [8]:
# Import packages, load the ott_merge and movies_merge databases, and create the DataFrames
import pandas as pd

movies_merge = pd.read_excel('movies_merge.xlsx')
ott_merge = pd.read_csv('ott_merge.csv')

# View the DataFrame. 
print(movies_merge.shape)
print(ott_merge.shape)
print('-------------')


# How many rows and columns? 
print('movies_merge')
print(f"{movies_merge.shape[0]} rows for movies_merge")
print(f"{movies_merge.shape[1]} columns for movies_merge")
print('-------------')

print('ott')
print(f"{ott_merge.shape[0]} rows for ott_merge")
print(f"{ott_merge.shape[1]} columns for ott_merge")
print('-------------')

(16744, 11)
(16744, 5)
-------------
movies_merge
16744 rows for movies_merge
11 columns for movies_merge
-------------
ott
16744 rows for ott_merge
5 columns for ott_merge
-------------

In [3]:
movies_merge.head()

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,1,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,2,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,3,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,4,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [4]:
ott_merge.head()

   ID  Netflix  Hulu  Prime Video  Disney+
0   1        0     0            1        0
1   2        0     1            0        0
2   3        0     0            1        0
3   4        1     0            0        0
4   5        0     0            1        0

In [13]:
movies_merge.dtypes

ID                   int64
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [14]:
ott_merge.dtypes

ID             int64
Netflix        int64
Hulu           int64
Prime Video    int64
Disney+        int64
dtype: object

In [17]:
# Merge the DataFrames on ID. 
movies_list = pd.merge(movies_merge, ott_merge, on='ID', how='left')

movies_list.head()

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
0,1,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,0,0,1,0
1,2,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,0,1,0,0
2,3,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,0,0,1,0
3,4,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,1,0,0,0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,0,0,1,0

In [19]:
# Concat the DataFrames based on rows. 
movies_ott = pd.concat([movies_merge, ott_merge], axis=0)

/Users/rachid/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [20]:
# How many rows and columns? 
print('movies_merge')
print(f"{movies_merge.shape[0]} rows for movies_merge")
print(f"{movies_merge.shape[1]} columns for movies_merge")
print('-------------')

print('ott')
print(f"{ott_merge.shape[0]} rows for ott_merge")
print(f"{ott_merge.shape[1]} columns for ott_merge")
print('-------------')

print('movies_list')
print(f"{movies_list.shape[0]} rows for movies_list")
print(f"{movies_list.shape[1]} columns for movies_list")
print('-------------')

print('movies_ott')
print(f"{movies_ott.shape[0]} rows for movies_ott")
print(f"{movies_ott.shape[1]} columns for movies_ott")
print('-------------')

movies_merge
16744 rows for movies_merge
11 columns for movies_merge
-------------
ott
16744 rows for ott_merge
5 columns for ott_merge
-------------
movies_list
16744 rows for movies_list
15 columns for movies_list
-------------
movies_ott
33488 rows for movies_ott
15 columns for movies_ott
-------------